a {
    color: #fff;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    color: #fff
}

th{
    text-align: center;
}

.modal-title{
    color: #343A40 !important;
    font-weight: 600;
}

body {
    background-color: #49525a;
}

li {
    margin: 5px 10px;
}

.nav-link {
    color: #fff !important;
    transition: 0.8s ease;
    border-radius: 30px;
    padding: 15px 20px;
}

.hover {
    color: #343A40 !important;
}

.hover:hover {
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.3);
}

.active {
    color: #FECA57 !important;
    background-color: #343A40;
}

.text-gray{
    color: #343A40 !important;
}

.title {
    /* padding: 0px 10px; */
    margin-left: 5%;
    margin-bottom: 20px;
    width: 90%;
    height: 50px;
    /* background-color: #fff; */
    border-bottom: solid #343A40 2px;
}


/* The sidebar menu */

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 300px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #FECA57;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.3);
    border-right: solid #343A40 3px;
}

.main {
    margin-left: 300px;
    overflow-x: auto;
    height: auto;
}


/* main */

.search {
    padding: 8px 15px;
    border: 0;
    border-radius: 20px;
    opacity: 0.3;
    transition: 0.8s ease;
}

.search:focus {
    opacity: 0.6;
}

.table-content {
    margin: 5%;
}

table {
    border-radius: 5px;
    box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.3);
}

.add-new {
    background-color: rgb(88, 153, 92);
    display: inline-block;
    padding: 7px;
    font-size: 14px;
    /* border-radius: 5px; */
    margin-left: 5%;
    transition: 0.6s ease;
}

.add-new:hover {
    background-color: rgb(69, 119, 72);
}

.edit {
    border-color: #FECA57;
    color: #FECA57 !important;
}

.delete {
    border-color: #e7655b;
    color: #e7655b !important;
}

.show{
    border-color: #17A2B8;
    color: #17A2B8 !important;
}

.bg-content {
    background-color: #ffffff18;
    padding: 15px 20px;
    border-radius: 10px;
}

/* login */
.box-login{
    width: 300px;
    height: 460px;
    background-color: #fff;
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.6);
    /* padding: 3%; */
}
.form-login-heading{
    background-color: #FECA57;
    padding: 10% 5% 10% 5%;
    border-radius: 10px 10px 0 0;
}
.login-wrap{
    padding: 5% 10%;
}
.logout{
    width: 95%;
    position: absolute;
    box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.3);
    bottom: 10px;
    color: #343A40 !important;
}
.logout:hover{
    box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.6);
}